@charset "utf-8";

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body{
    background-color: rgb(176, 163, 148);
}

.cabeca{
    font-size: 1.2em;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color:aliceblue;
    background-color:rgb(119, 136, 153);
    padding: 10px;
}