@charset "utf-8";

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body{
    background-color: rgb(176, 163, 148);
   
}

.cabeca{
    font-size: 1.2em;
    font-family:cursive;
    text-align: center;
    color:aqua;
    font-style:italic;
    background-color: #1b2126f4;
    padding: 10px;
}

.inicio{
    text-align: center;
    padding: 30px;
    background-color: #1b2126f4;
    color: #fffefe;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
   
   
}

.inicio h2{
    padding: 10px;
}

.inicio p{
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: aqua;
    font-family: cursive ;
    font-style: italic;
}

 #wats{
    display: block;
    padding: 5px;
    margin: auto;
    margin-bottom: 5px;
    text-decoration: none;
    background-color:lightgreen;
    color: white;
    border-radius: 5px;
    width: 200px;
    text-align: center;   
}

#wats:hover{
    color: darkslategray;
    transition: 2ms;
}

#liga{
    display: block;
    padding: 5px;
    margin: auto;
    text-decoration: none;
    background-color:lightgreen;
    color: white;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

#liga:hover{
    color: darkslategray;
    transition: 2ms;
}


 h1.segundpt{
    margin-bottom: 5px;
    text-align: center;
    font-style: italic;
    color: rgba(0, 0, 0, 0.633);
}

h3{
    font-style:italic ;
    color:#29313a ;
    font-weight: 200px;
    text-transform: uppercase;
    margin: 5px;
}

p{
    padding: 5px;
    font-size: 1.1em;
    line-height: 1.5;
    margin-left: 10px;
    color: #15191e;
    
}

.contato{
    text-align: center;
    margin: 10px;
    color: #29313a;
    font-style: italic;
}

a#contato{
    text-align: center;
    display: block;
    text-decoration: none;
    color: azure;
    background-color: #29313a;
    padding: 10px;
    width: 150px;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 10px;    
}

#contato:hover{
    transform: scale(1.2);
    color:aqua;
}

.bio{
    margin: 10px; 
}

article > h1{
    padding: 10px;
    color:#0d0f11;
    font-style: italic;
}
article > h2{
    padding: 10px;
    color:#0d0f11;
    font-style: italic;
}

 .local{
    padding: 10px;
    text-align: center;
    background-color: #15191e;
    color:rgb(132, 174, 237)
}


article > a{
    text-decoration: none;
    color: aqua;
    font-family: cursive;
    font-style: italic;
}

.local  h3{
    color: aliceblue;
}








footer > p{
    text-align: center;
    padding: 10px;
    font-family: cursive;
    font-style: italic;
    color: aqua;
    background-color: rgb(42, 42, 42);
    
}
